
:root {
    --background: #f9f9f9;
    --text: #666971;
    --visited: #f7f7f7;
    --hover: rgb(243, 245, 244);
    --comments: #c97849;
    --frame: #d8dadf;
    --linkHover: rgb(192, 234, 207);
    --link: rgb(237, 242, 239);
}

@media (prefers-color-scheme:dark) {
    :root {
        --background: #1c1c20;
        --text: #ffede6;
        --visited: #6f6f6f;
        --hover: #16161e;
        --frame: #443e5c;
        --linkHover: #55558c;
        --link: #272740;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-size: 14px;
    background: var(--background);
    text-align: left;
    display: flex;
    justify-content: center;
}

.feed {
    display: flex;
    flex-direction: row;
/*     flex-wrap: wrap; */
    /*! column-gap: 25px; */
    width: 3000px;
    overflow-x: auto;
    justify-content: center;
}

.category {
    min-width: 500px;
    max-width: 500px;
    margin: 15px;
    overflow-y: auto;
    height: calc(100vh - 30px);
    scroll-behavior: smooth;
}

.category_header {
    padding: 10px 10px 10px 30px;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    color: var(--frame);
}

.entries {
    margin: 50px 0px;
    width: 100%;
    max-width: 900px; 
}

.entry {
    text-decoration: none;
    color: var(--text);
    margin: 0px;
    display: flex;
}

a:visited {
    color: var(--visited);
}

.content {
    padding: 10px 10px; 
    max-width: calc(100% - 50px);
    margin: 5px 0px;
    cursor: pointer;
}

.content:hover {
    background-color: var(--hover);
}

.title {
    margin-bottom: 5px;
}

.meta {
    font-size: .8em;
    opacity: .6;
    display: flex;
}

.comments {
    margin-left: 8px;
}

.comments a {
    text-decoration: none;
    color: var(--comments);
}

.comments a:hover, .post a:hover {
    text-decoration: underline;
}

.post {
    max-width: calc(100% - 20px);
    padding: 20px;
    background: var(--background);
    font-size: .9em;
    line-height: 1.6;
    border: 1px solid var(--frame);
    margin: 15px 10px 10px 10px;
    border-radius: 5px;
}

.post img {
    max-width: 100%;
    object-fit: cover;
}

.post a {
    color: var(--comments);
    text-decoration: none;
}

.post>* {
    max-width: 100%;
}


.original {
    background: var(--link);
    margin: 5px 0px;
    min-width: 20px;
    border-right: 2px solid var(--linkHover);
  }
  .original a {
    width: 100%;
  }

.original:visited {
  border-color: var(--background);
}

.original:hover {
  background: var(--linkHover);
}
.content {
  width: 100%;
}

@media only screen and (max-width: 1100px) {
    .category {
        min-width: calc(100vw - 30px) !important;
    }
    .feed {
        justify-content: flex-start !important;
    }
}
